body {
    font-family: "Open Sans", sans-serif;
    color: var(--black);
}

:root {
    --black: #121212;
    --white: #fafafa;
}




#root {
    max-width: 800px;
    margin: 0 auto;
}

/* Стили для фильтра категорий, чтобы он всегда переносил элементы */
.category-filter {
    display: flex;
    flex-wrap: wrap; /* Главное правило: разрешаем перенос элементов */
    gap: 8px; /* Отступ между кнопками для красоты */
    overflow-x: initial; /* Убираем возможный горизонтальный скролл */
    padding-bottom: 0; /* Убираем отступ, который мог быть нужен для скроллбара */
}